<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\inetpub\wwwroot\zimra-api\venv\Scripts\python.exe|C:\inetpub\wwwroot\zimra-api\venv\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script" />
        </handlers>
        
        <rewrite>
            <rules>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^static/.*" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="Static Files Directory" stopProcessing="true">
                    <match url="^static_files/.*" />
                    <action type="Rewrite" url="{R:0}" />
                </rule>
                <rule name="API Routes" stopProcessing="true">
                    <match url="^api/.*" />
                    <action type="Rewrite" url="run.py/{R:0}" />
                </rule>
                <rule name="Default" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="run.py/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        
        <httpErrors errorMode="Detailed" />
        
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
        
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
    
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\zimra-api" />
        <add key="WSGI_HANDLER" value="run.app" />
        <add key="WSGI_LOG" value="C:\inetpub\wwwroot\zimra-api\logs\wsgi.log" />
    </appSettings>
</configuration>

